#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Painel_Inferior {
  position: absolute;
  top: 64px;
  left: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_2 {
  width: 1366px;
  height: 704px;
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Conteudo {
  width: 1024px;
  height: 467px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  box-shadow: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Spacer .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Spacer .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Spacer {
  width: 1024px;
  height: 70px;
  background-color: transparent;
  background-image: none;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1 {
  width: 1024px;
  height: 397px;
  background-color: transparent;
  background-image: none;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Table_1 {
  width: 1024px;
  height: 327px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1_1 .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1_1 {
  width: 1024px;
  height: 290px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_1 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_1 span {
  color: #005CA1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 28.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #005CA1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #005CA1;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 951px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 span#rtr-s-Text_2_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 span#rtr-s-Text_2_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 span#rtr-s-Text_2_4 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_2 span#rtr-s-Text_2_5 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_5 {
  padding-top: 15px;
  padding-bottom: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_5 span#rtr-s-Text_5_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Input_2 {
  padding-left: 8px;
  width: 539px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_6 {
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1_2 .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Cell_1_2 {
  width: 1024px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Button_1 {
  width: 112px;
  height: 29px;
  background-color: #43A047;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #43A047;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #43A047;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #43A047;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #43A047;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Button_1 span#rtr-s-Button_1_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_4 {
  width: 1366px;
  height: 188px;
  background-color: #005CA1;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_4 .verticalalign {
  vertical-align: middle;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Endereco {
  width: 376px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 25px;
  font-size: 12.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Endereco .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Endereco span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Endereco span#rtr-s-Endereco_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Mapa_do_site {
  width: 101px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 32px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Mapa_do_site .valign {
  vertical-align: top;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Mapa_do_site span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Mapa_do_site span#rtr-s-Mapa_do_site_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Versao_desktop {
  width: 250px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 25px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Versao_desktop .valign {
  vertical-align: top;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Versao_desktop span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Versao_desktop span#rtr-s-Versao_desktop_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Painel_Superior {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_1 {
  width: 1366px;
  height: 64px;
  background-color: #005CA1;
  background-image: none;
  box-shadow: 0px 1px 50px -16px #000000;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_1 .verticalalign {
  vertical-align: middle;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-SysRadoc_INF_logo {
  position: absolute;
  top: 14px;
  left: 11px;
  width: 180px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Acessibilidade {
  position: absolute;
  top: 0px;
  left: 1302px;
  width: 64px;
  height: 64px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_15 span#rtr-s-Botao_mouse_over_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Image_2 {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 37px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Drop_down_acessibilidade {
  position: absolute;
  top: 64px;
  left: 1174px;
  display: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_6 {
  width: 192px;
  height: 48px;
  background-color: #7FADD0;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Alto_contraste_button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Alto_contraste_button .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_16 span#rtr-s-Botao_mouse_over_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Branco_Alto_cont {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Preto_Alto_cont {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Aumentar_fonte_button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Aumentar_fonte_button .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_19 span#rtr-s-Botao_mouse_over_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Branco_Aum_fonte_1 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Preto_Aum_fonte_1 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Normalizar_fonte_button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Normalizar_fonte_button .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_18 span#rtr-s-Botao_mouse_over_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Branco_Norm_fonte_1 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Preto_Norm_fonte_1 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Diminuir_fonte_button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Diminuir_fonte_button .verticalalign {
  vertical-align: top;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Botao_mouse_over_17 span#rtr-s-Botao_mouse_over_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Branco_Dim_fonte {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 #s-Preto_Dim_fonte {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#simulation {
  overflow-y: hidden;
}
#s-1a75ab75-7774-4c29-a5c8-98382d9bb4a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}